In [39]:
import pandas as pd
df = pd.read_csv("../../cleaned/humanitarian/grouped_donor.csv")
df2 = pd.read_csv("../../cleaned/humanitarian/grouped_funding_req.csv")

In [35]:
df.head()

,Unnamed: 0,year,srcOrganization,cluster,amountUSD
0,0,2021.0,European Commission's Humanitarian Aid and Civ...,Multiple Sectors,13366153.0
1,1,2021.0,"Germany, Government of",Multiple Sectors,26451405.0
2,2,2021.0,"Japan, Government of",Multiple Sectors,2000000.0
3,3,2022.0,"Australia, Government of",Multiple Sectors,7730148.0
4,4,2022.0,Central Emergency Response Fund,water sanitation hygiene,3000000.0

In [36]:
categories = df.groupby('cluster')['amountUSD'].sum().sort_values(ascending=False).reset_index()
categories['cluster'] = categories['cluster'].str.lower().str.strip().str.replace("and", "&").drop_duplicates()

In [40]:
df2['cluster'].drop_duplicates()

0                     Multiple Sectors
1                        Not Specified
10               Agricultural Recovery
11         Food Security & Agriculture
12                              Health
15                           Nutrition
16                          Protection
17         Water, Sanitation & Hygiene
18                     Common Services
19                           Education
20                   Emergency Shelter
21        Emergency Telecommunications
40     Coordination & Support Services
57                           Logistics
93                            Aviation
102             Refugees And Returnees
103                               Wash
107           Education In Emergencies
115                    Refugee Chapter
Name: cluster, dtype: object

In [ ]:
repl_values = {
   "Coordination and support services": "Coordination & Support Services",
   "Protection - Mine Action": "Protection",
   "Multi-sector": "Multiple Sectors",
   "Food Security": "Food Security & Agriculture",
   "Emergency Shelter and NFI": "Emergency Shelter",
   "Protection - Child Protection": "Protection",
   "Protection - Gender-Based Violence": "Protection",
   "Water Sanitation Hygiene": "Water, Sanitation & Hygiene"
}

In [41]:
multi = []
for i in df['cluster']:
    if "," in i:
        multi.append("Multiple Sectors")
    else:
        multi.append(i)
df['cluster'] = multi
df['cluster'].drop_duplicates()

0                    Multiple Sectors
6                           Logistics
8                           Nutrition
9             Emergency Shelter & NFI
10                             Health
13                          Education
14        Food Security & Agriculture
18                         Protection
21    Coordination & support services
Name: cluster, dtype: object